{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} | Accueil {% endblock %}

{% block main %} {{ parent() }}


    {# formulaire de recherche filtrée pour les sorties #}
    {% include ('sortie/AfficherSorties.html.twig')  %}










    <br>
    <div>
        <a href="#" class="creer_sortie">Créer une sortie</a>
    </div>
    <br>

{% endblock %}