{% extends "layout.html.twig" %}

{# form_theme connectionForm 'user/bootstrap_4_layout.html.twig' #}

{% block main %}

    <form action="{{ path('user_login') }}" method="post">
        <label for="username">Identifiant : </label>
        <input type="text" name="_username" id="username">

        <label for="password">Mot de passe : </label>
        <input type="password" name="_password" id="password">

        <button type="submit">Connexion</button>

        {# Mettre se souvenir de moi et mot de passe oublié #}

    </form>

{% endblock %}