{% extends "layout.html.twig" %}

{% block title %}Gérer mon profil {% endblock %}

{% block main %}

    {{ form_start(gererProfilForm) }}

    {{ form_widget(gererProfilForm) }}
    <button type="submit">Enregistrer</button>
    <button>Annuler</button>
    {{ form_end(gererProfilForm) }}

{% endblock %}




